<%= form_for @drug do |f| %>
	<% if @drug.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>
		<ul>
		<% @drug.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :firstname, "Name:" %><br>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :atc, "ATC code:" %><br>
		<%= f.text_field :atc %>
	</p>
	<br>
	<p>
		<%= f.submit class: 'btn btn-success' %>
	</p>
<% end %>