<p><h1><center><b><u>Electronic Patient Card</u></b></center></h1></p>
<br>
<br>
<center>
<h3>
<p>
<%= link_to 'Patients', {controller: 'patients'}, class: 'patient' %>
</p>

<br>

<p>
<%= link_to 'Manage the data base of diseases ', {controller: 'diseases'}, class: 'disease' %>
</p>
<br>

<p>
<%= link_to 'Manage the data base of drugs ', {controller: 'drugs'}, class: 'drug' %>
</p>

<br>

<p>
<%= link_to 'Manage the data base of nurses ', {controller: 'nurses'}, class: 'nurse' %>
</p>

<br>

<p>
<%= link_to 'Manage the data base of doctors ', {controller: 'doctors'}, class: 'doctor' %>
</p>
</h3>
</center>