<p><h1><center><b><u>Electronic Patient Card</u></b></center></h1></p>

<p>
<h4><%= link_to 'Patients', {controller: 'patients'}, class: 'patient' %></h4>
</p>

<p>
<h4><%= link_to 'Manage the data base of diseases ', {controller: 'diseases'}, class: 'disease' %></h4>
</p>

<p>
<h4><%= link_to 'Manage the data base of drugs ', {controller: 'drugs'}, class: 'drug' %></h4>
</p>

<p>
<h4><%= link_to 'Manage the data base of nurses ', {controller: 'nurses'}, class: 'nurse' %></h4>
</p>

<p>
<h4><%= link_to 'Manage the data base of doctors ', {controller: 'doctors'}, class: 'doctor' %></h4>
</p>

