<h1>Electronic Patient Card</h1>


<h4><%= link_to 'Patients', {controller: 'patients'}, class: 'patient' %></h4>

<p>
<%= link_to 'Patients', controller: 'patients' %>
</p>

<p>
<%= link_to 'Manage the data base of diseases ', controller: 'diseases' %>
</p>

<p>
<%= link_to 'Manage the data base of drugs ', controller: 'drugs' %>
</p>

<p>
<%= link_to 'Manage the data base of nurses ', controller: 'nurses' %>
</p>

<p>
<%= link_to 'Manage the data base of doctors ', controller: 'doctors' %>
</p>

