<h1>Listing prescriptions</h1>

<%= link_to 'New prescription', new_medical_case_prescription_path %>

<table>
	<tr>
		<th>No.</th>
		<th>Date of write out</th>
		<th>Expiry date</th>
		<th colspan="3"></th>
	</tr>
	
	<% no = 1 %>
	<% @prescriptions.each do |prescription| %>
	<tr>
		<td><%= no %></td><% no = no + 1 %>
		<td><%= prescription.dateofwriteout %></td>
		<td><%= prescription.expirydate %></td>
		<td><%= link_to 'Show', medical_case_prescription_path(prescription.medical_case_id, prescription) %></td>
		<td><%= link_to 'Edit', edit_medical_case_prescription_path(prescription.medical_case_id, prescription) %></td>
		<td><%= link_to 'Destroy', medical_case_prescription_path(prescription.medical_case_id, prescription),
			method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', [@medical_case.medical_record, @medical_case] %>
