<%= form_for [@prescription, @prescriptiondrug] do |f| %>
	<% if @prescriptiondrug.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@prescriptiondrug.errors.count, "error") %> prohibited this drug from being saved:</h2>
		<ul>
		<% @prescriptiondrug.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<%= f.hidden_field :prescription_id %>
	
	<p>
		<%= f.label :drug_id, "Drug:" %><br>
		<%= f.select :drug_id, Drug.all.collect {|p| [ p.name, p.id ] } %>
	</p>
	
	<p>
		<%= f.submit "Add"%>
	</p>
<% end %>
