<h1><center><b><u>Listing medical cases</u></b></center></h1>
<br>
<h4><%= link_to 'New medical case', new_medical_record_medical_case_path, class: 'patient' %></h4>
<br>
<br>

<div class="table-responsive">
<table class="table table-bordered">
	<tr>
		<th>Onset Of Disease</th>
		<th>Disease</th>
		<th>Doctor</th>
		<th colspan="3">Options</th>
	</tr>
	
	<% @medical_cases.each do |medical_case| %>
	<tr>
		<td><%= medical_case.onsetofdisease %></td>
		<td><%= medical_case.disease_id %></td>
		<td><%= medical_case.doctor_id %></td>
		<td><%= link_to 'Show', medical_record_medical_case_path(medical_case.medical_record_id, medical_case), class: 'btn btn-info btn-sm alink' %></td>
		<td><%= link_to 'Edit', edit_medical_record_medical_case_path(medical_case.medical_record_id, medical_case), class: 'btn btn-primary btn-sm alink' %></td>
		<td><%= link_to 'Destroy', medical_record_medical_case_path(medical_case.medical_record_id, medical_case),
			method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm alink' %></td>
	</tr>
	<% end %>
</table>
</div>
<br>

<%= link_to 'Back', [@medical_record.patient], class: 'btn btn-warning alink' %>
