<h2>Medical case:</h2>

<p>
	<strong>Onset Of Disease:</strong>
	<%= @medical_case.onsetofdisease %>
</p>

<p>
	<strong>Disease:</strong>
	<%= @medical_case.disease_id %>
</p>

<p>
	<strong>Doctor:</strong>
	<%= @medical_case.doctor_id %>
</p>
<<<<<<< HEAD
<br>
<%= link_to 'Back', medical_record_medical_cases_path, class: 'btn btn-warning alink' %>
| <%= link_to 'Edit', edit_medical_record_medical_case_path(@medical_case.medical_record_id, @medical_case), class: 'btn btn-primary btn-sm alink' %>
=======

<p>
	<%= link_to 'Show appointments',
		[@medical_case, @medical_case.appointments.build] %>
</p>

<p>
	<%= link_to 'Show referrals',
		[@medical_case, @medical_case.referrals.build] %>
</p>

<p>
	<%= link_to 'Show prescriptions',
		[@medical_case, @medical_case.prescriptions.build] %>
</p>

<%= link_to 'Back', medical_record_medical_cases_path %>
| <%= link_to 'Edit', edit_medical_record_medical_case_path(@medical_case.medical_record_id, @medical_case) %>
>>>>>>> master
