<h1>Listing referrals</h1>
<br>
<h4><%= link_to 'New referral', new_medical_case_referral_path, class: 'patient' %></h4>
<br>
<br>
<div class="table-responsive">
<table class="table table-bordered">
	<tr>
		<th>Date of write out</th>
		<th>Expiry date</th>
		<th>To</th>
		<th colspan="3">Options</th>
	</tr>
	
	<% @referrals.each do |referral| %>
	<tr>
		<td><%= referral.dateofwriteout %></td>
		<td><%= referral.expirydate %></td>
		<td><%= referral.to %></td>
		<td><%= link_to 'Show', medical_case_referral_path(referral.medical_case_id, referral), class: 'btn btn-info btn-sm alink' %></td>
		<td><%= link_to 'Edit', edit_medical_case_referral_path(referral.medical_case_id, referral), class: 'btn btn-primary btn-sm alink' %></td>
		<td><%= link_to 'Destroy', medical_case_referral_path(referral.medical_case_id, referral),
			method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm alink'  %></td>
	</tr>
	<% end %>
</table>
</div>
<br>
<%= link_to 'Back', [@medical_case.medical_record, @medical_case], class: 'btn btn-warning alink' %>
