<%= form_for @patient do |f| %>
	<% if @patient.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
		<ul>
		<% @patient.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :firstname, "First Name:" %><br>
		<%= f.text_field :firstname %>
	</p>
	
	<p>
		<%= f.label :middlename, "Middle Name:" %><br>
		<%= f.text_field :middlename %>
	</p>
	
	<p>
		<%= f.label :lastname, "Last Name:" %><br>
		<%= f.text_field :lastname %>
	</p>
	
	<p>
		<%= f.label :dateofbirth, "Date Of Birth:" %><br>
		<%= f.date_field :dateofbirth %>
	</p>
	
	<p>
		<%= f.label :sex, "Sex:" %><br>
		<%= f.radio_button :sex, "male" %>
		<%= f.label :sex_male, "Male" %><br>
		<%= f.radio_button :sex, "female" %>
		<%= f.label :sex_female, "Female" %><br>
	</p>
	
	<p>
		<%= f.label :email, "E-mail Address:" %><br>
		<%= f.text_field :email %>
	</p>
	
	<p>
		<%= f.label :phone, "Phone Number:" %><br>
		<%= f.text_field :phone %>
	</p>
	
	<p>
		<%= f.label :mobile, "Mobile Number:" %><br>
		<%= f.text_field :mobile %>
	</p>
	
	<p>
		<%= f.label :street, "Street Address:" %><br>
		<%= f.text_field :street %>
	</p>
	
	<p>
		<%= f.label :city, "City:" %><br>
		<%= f.text_field :city %>
	</p>
	
	<p>
		<%= f.label :postcode, "Post/Zip Code:" %><br>
		<%= f.text_field :postcode %>
	</p>
	
	<p>
		<%= f.label :state, "State/Province:" %><br>
		<%= f.text_field :state %>
	</p>
	
	<p>
		<%= f.label :country, "Country:" %><br>
		<%= f.text_field :country %>
	</p>
	<br>
	<p>
		<%= f.submit class: 'btn btn-success' %>
	</p>
	<br>
<% end %>