<h2>Patient:</h2>

<p>
	<strong>First Name:</strong>
	<%= @patient.firstname %>
</p>

<p>
	<strong>Middle Name:</strong>
	<%= @patient.middlename %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @patient.lastname %>
</p>

<p>
	<strong>Date Of Birth:</strong>
	<%= @patient.dateofbirth %>
</p>

<p>
	<strong>Sex:</strong>
	<%= @patient.sex %>
</p>

<p>
	<strong>E-mail Address:</strong>
	<%= @patient.email %>
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @patient.phone %>
</p>

<p>
	<strong>Mobile Number:</strong>
	<%= @patient.mobile %>
</p>

<p>
	<strong>Street Address:</strong>
	<%= @patient.street %>
</p>

<p>
	<strong>City:</strong>
	<%= @patient.city %>
</p>

<p>
	<strong>Post/Zip Code:</strong>
	<%= @patient.postcode %>
</p>

<p>
	<strong>State/Province:</strong>
	<%= @patient.state %>
</p>

<p>
	<strong>Country:</strong>
	<%= @patient.country %>
</p>

<h2>Medical Record:</h2>
<% if @patient.medical_record.nil? %>
	<p>
		No medical record found for this patient.
	</p>
	<%= form_for([@patient, @patient.build_medical_record]) do |f| %>
	<br>
		<p>
			<%= f.submit "Create a medical record", class: 'btn btn-success btn-sm custom' %>
		</p>
	<br>
	<% end %>
<% else %>
	<p>
		<strong>Date Of Creation:</strong>
		<%= @patient.medical_record.created_at.to_date %>
	</p>
	<br>
	<p>
		<%= link_to 'Show medical cases',
			[@patient.medical_record, @patient.medical_record.medical_cases.build], class: 'btn btn-info btn-sm alink custom' %>
	</p>
	<br>
	<p>
		<%= link_to 'Destroy medical record', [@patient, @patient.medical_record],
			method: :delete,
			data: { confirm: 'Are you sure?' },
			class: 'btn btn-danger btn-sm alink custom' %>
	</p>
	<br>
<% end %>

<%= link_to 'Back', patients_path, class: 'btn btn-warning alink' %>


| <%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-primary btn-sm alink' %>
