<p>
	<strong>First Name:</strong>
	<%= @patient.firstname %>
</p>

<p>
	<strong>Middle Name:</strong>
	<%= @patient.middlename %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @patient.lastname %>
</p>

<p>
	<strong>Date Of Birth:</strong>
	<%= @patient.dateofbirth %>
</p>

<p>
	<strong>Sex:</strong>
	<%= @patient.sex %>
</p>

<p>
	<strong>E-mail Address:</strong>
	<%= @patient.email %>
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @patient.phone %>
</p>

<p>
	<strong>Mobile Number:</strong>
	<%= @patient.mobile %>
</p>

<p>
	<strong>Street Address:</strong>
	<%= @patient.street %>
</p>

<p>
	<strong>City:</strong>
	<%= @patient.city %>
</p>

<p>
	<strong>Post/Zip Code:</strong>
	<%= @patient.postcode %>
</p>

<p>
	<strong>State/Province:</strong>
	<%= @patient.state %>
</p>

<p>
	<strong>Country:</strong>
	<%= @patient.country %>
</p>

<%= link_to 'Back', patients_path %>
