<h1><center><b><u>Listing doctors</u></b></center></h1>
<br>
<h4><%= link_to 'New doctor', new_doctor_path, class: 'patient' %></h4>
<br>
<br>
<div class="table-responsive">
<table class="table table-bordered">
	<tr>
		<th>First Name</th>
		<th>Middle Name</th>
		<th>Last Name</th>
		<th>Date Of Birth</th>
		<th>Sex</th>
		<th>E-mail Address</th>
		<th>Phone Number</th>
		<th>Mobile Number</th>
		<th>Street Address</th>
		<th>City</th>
		<th>Post/Zip Code</th>
		<th>State/Province</th>
		<th>Country</th>
		<th colspan="3">Options</th>
	</tr>
	
	<% @doctors.each do |doctor| %>
	<tr>
		<td><%= doctor.firstname %></td>
		<td><%= doctor.middlename %></td>
		<td><%= doctor.lastname %></td>
		<td><%= doctor.dateofbirth %></td>
		<td><%= doctor.sex %></td>
		<td><%= doctor.email %></td>
		<td><%= doctor.phone %></td>
		<td><%= doctor.mobile %></td>
		<td><%= doctor.street %></td>
		<td><%= doctor.city %></td>
		<td><%= doctor.postcode %></td>
		<td><%= doctor.state %></td>
		<td><%= doctor.country %></td>
		<td><%= link_to 'Show', doctor_path(doctor), class: 'btn btn-info btn-sm alink' %></td>
		<td><%= link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-primary btn-sm alink' %></td>
		<td><%= link_to 'Destroy', doctor_path(doctor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm alink' %></td>
	</tr>
	<% end %>
</table>
</div>
<br>
<br>
<%= link_to 'Back', root_path, class: 'btn btn-warning alink' %>
