<h1>Listing appointments</h1>

<%= link_to 'New appointment', new_medical_case_appointment_path %>

<table>
	<tr>
		<th>No.</th>
		<th>Date</th>
		<th colspan="3"></th>
	</tr>
	
	<% no = 1 %>
	<% @appointments.each do |appointment| %>
	<tr>
		<td><%= no %></td><% no = no + 1 %>
		<td><%= appointment.year.to_s+"/"+appointment.month.to_s+"/"+appointment.day.to_s+" "+appointment.hour.to_s+":"+appointment.minute.to_s %></td>
		<td><%= link_to 'Show', medical_case_appointment_path(appointment.medical_case_id, appointment) %></td>
		<td><%= link_to 'Edit', edit_medical_case_appointment_path(appointment.medical_case_id, appointment) %></td>
		<td><%= link_to 'Destroy', medical_case_appointment_path(appointment.medical_case_id, appointment),
			method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', [@medical_case.medical_record, @medical_case] %>
